.card {
    max-width: 300px;
    margin: 10px;
}

/*
.card > button {
    height: 350px;
}
*/

.card > button > img {
    height: auto;
}


.scrollTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.scrollTop > button {
    background-color: #20C689;
}