
@import '../../App';

.container-movie-page {
    padding: 2rem;
}

@media screen and (max-width: 599px) {
    .container-content {
        padding: 1rem;
    }
}

.rating-container {
    background-color: $base-color;    
}

@media screen and (max-width: 1380px) {
    .card-movie {
        max-height: 450px;
    }

    .card-movie img {
        height: 100%;
    }
}