.card {
    max-width: 300px;
    height: 100%;
}

.card > button > img {
    height: 400px;
}

.title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.03em;
}
/*CHANGE*/
.align-left > .MuiTypography-alignCenter + .override-align {
    text-align: left;
}

.align-left > a {
    float: left;
}

.rating-container {
    background-color: #ffd23f;
    
}

.content-font {
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.01em;
}

/*CHANGE*/
.content-main-paragraph {
    text-align: justify;
    text-justify: inter-word;
}