@import '../../App';

.top-bar {
  background-color: $base-color;

  a {
    text-decoration: none;
    color: $font-base-color;
  }
}

.top-bar-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.search-field {
  margin-left: auto;
  margin-right: 1.5rem;
}
