$base-color: #AA2876;
$font-base-color: #fff;

body {
  overscroll-behavior: none;
}

.App {
  text-align: center;
}

.typography-base {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
}

.container {
  background-color: #272838;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $font-base-color;
}

.align-left {
  text-align: left;
}

.card-container {
  position: relative;
  overflow: hidden;

  .card-poster:hover {
    opacity: 0.3;
    filter:alpha(opacity=30);
  }

  .card-details {
    .title {
      position: absolute;
      top: 0;
      width: 100%;
    }
    .details {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  img {
    max-height: 2vw;
    min-height: 22vw;
    max-width: 16vw;
    min-width: 16vw;
  }
}

@media screen and (max-width: 599px) {
  .container-content {
    img {
      
    }
  }
}

@media screen and (max-width: 959px) {
  .container-content {
    img {

    }
  }
}

@media screen and (max-width: 1279px) {
  .container-content {
    img {

    }
  }
}

@media screen and (max-width: 1919px) {
  .container-content {
    img {

    }
  }
}
@media screen and (max-width: 1279px) {
  .container-content {
    img {

    }
  }
}

.title {
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.content {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.01em;
}

.content-main-paragraph {
  text-align: justify;
}

.loading-spinner {
  max-width: 70px;
}

.rating-container {
  background-color: $base-color;
  padding: 10px;  
}

.raiting {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px 8px 0 0;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .container-content {
    padding: 10px;
  }
}
