// TODO: CREAT3E GLOBAL VARS in mui styles, use theme var
$base-color: #aa2876;
$font-base-color: #fff;

.card-container {
    text-align: center;
    position: relative;
    overflow: hidden;

    // DOES THIS WORK IN MUI?
    .card-poster:hover {
        opacity: 0.3;
        filter: alpha(opacity=30);
    }

    .card-details {
        visibility: hidden;
        color: $font-base-color;

        .fav-icon {
            position: absolute;
            top: 0;
            width: 100%;
            transition: transform 750ms;
        }
        .vote-average {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 20px;
            transition: transform 750ms;
        }
    }
}

.card-container:hover {
    .card-details {
        visibility: visible;

        .fav-icon {
            transform: translateY(3vw);
        }
        .vote-average {
            transform: translateY(-3.5vw);
        }
    }
}

.content {
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.01em;

    &-info-separator {
        margin: 0 10px;
    }

    &-main-paragraph {
        text-align: justify;

        &-title {
            font-weight: 500;
            color: #aa2876;
            font-size: 1.1rem;
        }
    }

    &-imdb-container {
        background-color: $base-color;
        padding: 2px;
        margin-right: 10px;

        a {
            color: inherit;
            text-decoration: inherit;
        }
    }
}
